@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&family=JetBrains+Mono&display=swap");

:root {
  --bg: #080e23;
  --light-slate: #c0c1dd;
  --light-blue: #778DA9;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg);
  padding-left: 2em;
  padding-right: 2em;
  font-family: "Titillium Web";
  font-size: 1.15em;
  color: var(--light-slate);
  max-width: 75vw;
  margin: 0 auto;
}

@font-face {
  font-family: "Eurostile";
  src: url("/EurostileBold.ttf");
  font-weight: bold;
}
