@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&family=JetBrains+Mono&family=Nunito:wght@200;300;600&display=swap");

:root {
  --bg: #080e23;
  --lighter-slate: #c0c1dd;
  --light-slate: #9d9fd1;
  --light-blue: #778DA9;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg);
  padding-left: 2em;
  padding-right: 2em;
  font-family: "Titillium Web";
  font-size: 1.15em;
  color: var(--light-slate);
  max-width: 95vw;
  margin: 0 auto;
}

h1 {
  font-size: clamp(30px, 8vw, 50px);
  font-family: Eurostile, sans-serif;
  color: var(--lighter-slate);
}

@font-face {
  font-family: "Eurostile";
  src: url("/EurostileBold.ttf");
  font-weight: bold;
}
